@font-face {
    font-family:'粉圓體';
    src: url('fonts/粉圓體.woff2') format('woff2'),
         url('fonts/粉圓體.woff') format('woff'),
         url('fonts/粉圓體.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:'華康秀風體';
    src: url('fonts/華康秀風體.woff2') format('woff2'),
         url('fonts/華康秀風體.woff') format('woff'),
         url('fonts/華康秀風體.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:'華康芸風體';
    src: url('fonts/華康芸風體.woff2') format('woff2'),
         url('fonts/華康芸風體.woff') format('woff'),
         url('fonts/華康芸風體.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

html,body {
    background-color:#000000;
    color:white;
    font-size:x-large;
    margin:0;
    font-family: '粉圓體', sans-serif;
    z-index:1;
    scroll-behavior: smooth;
    scroll-padding-top:5vh;
    overflow-x: hidden;
}

.header{
    background-color:#6699CCd0;
    position:fixed;
    top:0;
    width:100%;
    height:5vh;
    display:flex;
    z-index: 2;
}

.header img {
    width:5vh;
    height:5vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img:hover {
    transform : scale(1.05);
    transition: transform 0.3s ease;
}

header a {
    color:black;
    display:flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding:10px 20px;
}

header a:hover {
    background-color:#99CCFFd0;
}

#changecolor {
    color:black;
    cursor: pointer;
    display:flex;
    border-radius: 50px;
}

#changecolor:hover {
    background-color:#9ea9d0a9;
}

#headimg {
    border-width: 0;
    margin:30px;
    border-style: dashed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}


#headimg h3 {
    background-color: #0099ff82;
    width:90%;
    text-align: center;
    padding:2vh 0;
}

#headimg h3:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

#headimg img {
    width:70vw;
    height:auto;
    margin:3vh;
}

#headimg img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

#hometitle {
    text-align: center;
    font-family: '華康秀風體',sans-serif;
    font-weight: thin;
    font-size: 60px;
    color:#FFFFCC;
    padding:5vh;
}

.card-container{
    display:flex;
    justify-content:center;
    align-items: center;
}

.card a {
    align-items: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.card a {
    color:aliceblue;
    text-decoration: none;
}

.card a:hover {
    color:rgb(173, 225, 245);
    text-decoration: underline;
    transform : scale(1.1);
    transition: transform 0.3s ease;
}

.card p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.card img {
    width:15vw;
    height:auto;
    border-radius: 30px;
}

.card img:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}

.navbar{
    position:fixed;
    left:0;
    top:5vh;
    height: 95vh;
    width:12vw;
    display:flex;
    flex-direction: column;
    overflow-y:scroll;
    z-index: 0;
}

.navbar a{
    color:rgb(255, 252, 252);
    background-color: #031527d0;
    display:flex;
    align-items: center;
    text-decoration: none;
    padding:10px 20px;
}

.navbar a:hover{
    background-color:#184f87d0;
}

#yesno3 {
    transform: scale(1.05);
    transition: transform 0.3s;
    color:#000000;
    background-color: #cef8fb;
    width:fit-content;
    font-family: '華康芸風體',sans-serif;
    display: none;
    border-width: 10px;
    padding:10px;
    margin-top:0;
}

.hiddenword {
    color:#000000;
    cursor: pointer;
    background-color: #3ce2f0;
    width:fit-content;
    padding:10px;
    margin-bottom: 0;
}

.hiddenword:hover {
    background-color: #09afbd;
}

.student {
    position:absolute;
    width:85vw;
    height:95vh;
    display:flex;
    flex-direction: column;
}

#doll {
    position:relative;
    width:85vw;
    height:auto;
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-top:5vh;
}

.dolldesc {
    margin-left: 5vw;
}

.bigimg:hover {
    width:170px;
    height:170px;
    border-radius: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.content a {
    width:20vw;
    height:max-content;
    margin:1.5vw;
    color:white;
    text-decoration: none;
    padding:5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    border-style: dashed;
    justify-content: center;
}

.content a:hover {
    background-color:#99ccff70;
}

.content a img {
    width:15vw;
    height:auto;
    border-radius: 50px;
    align-items: center;
    margin:0 auto;
}


.container3 {
    scroll-snap-align: start;
    /* border-style: dashed; */
    width:70vw;
    margin:10px 20vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap;
}

.sc {
    scroll-behavior: smooth;
}

.container3 img {
    width:60vw;
    height:auto;
    align-items: center;
    border-radius: 10px;
    margin:10px;
    display: flex;
    flex-wrap: wrap;
}

.container3 ul {
    text-align: left;
}

.container3 h1 {
    text-decoration: underline;
}

#codebtn {
    background-color: #CCFFFF;
    padding:20px;
    font-size:medium;
}

#codebtn:hover {
    background-color:#92eeee;
}

#a4_1 img{
    width:60vw;
    height:auto;
    margin-bottom: 5vh;
}

#a4_1 img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

#a4_1 h3 {
    background-color: #0099ff82;
    border-radius: 20px;
    width:90%;
    text-align: center;
    padding:2vh 0;
}

#a4_1 h3:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}


.footer {
    position:fixed;
    right:5vw;
    bottom:0;
    margin:0;
    background-color: rgb(255, 204, 204);
}

.footer p {
    font-size:medium;
}

.people {
    position:relative;
    display:flex;
    flex-direction: row;
    margin-left: 15vw;
    margin-bottom: 10vh;
    width:85vw;
    height: auto;
}

#doll {
    position:relative;
    width:85vw;
    height:auto;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    margin-left:auto;
}

.text {
    font-family: '華康秀風體',sans-serif;
    width:50vw;
    height:max-content;
    display:inline-block;
    margin-left:5vw;
}

.text a:hover {
    color:#3ce2f0;
    transform:scale(1.1);
    transition: transform 0.3s ease;
}

.img201 {
    width :130px;
    height:130px;
    border-radius: 10px;
    margin-left: 5vw;
}

.igimg {
    border-radius: 20px;
    width:20px;
    height:20px;
    margin-left: 5vw;
}

.igname {
    font-family: '華康芸風體' ,sans-serif;
}

.igname:hover {
    color:#3ce2f0;
}

.imgandig {
    display:inline-block;
}
