@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Mochiy+Pop+P+One&family=Rampart+One&family=Reggae+One&family=Yusei+Magic&display=swap');
/* Yusei Magic黑板字   Reggae One炫泡   Rampart One中空   DotGothic16八碧特   Mochiy Pop P One普通粗體*/

body {
    background-color:#003366;
    color:white;
    font-size:20px;
    margin:0;
    font-family: 'Yusei Magic',sans-serif;
    z-index:1;
}

.header{
    background-color:#6699CCd0;
    position:sticky;
    top:0;
    width:100%;
    display:flex;
    z-index: 2;
}

.header img {
    width:40px;
    height:40px;
    border-radius: 50px;
}

header a {
    color:black;
    display:flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding:10px 20px;
}

header a:hover {
    background-color:#99CCFFd0;
}

.blue{
    background-color: #6699cc00;
    border-width: 0;
    color:#92eeee;
    font-weight: bold;
}
.blue:hover {
    color:#e9faffd0;
    cursor: pointer;
}


h1 {
    text-align: center;
    font-family: 'Reggae One',sans-serif;
    font-weight: thin;
    font-size: 60px;
    color:#FFFFCC;
}

.card-container{
    display:flex;
    justify-content:center;
    align-items: center;
}

.card {
    width:300px;
    height:400px;
    border-radius: 10px;
    border-color:#CCFFFF ;
    border-style: dashed;
    align-items: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.card p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.card img {
    width:200px;
    height:200px;
    border-radius: 30px;
}

.navbar{
    font-family: 'Mochiy Pop P One';
    position:relative;
    left:0;
    height: 100vh;
    width:max-content;
    display:flex;
    flex-direction: column;
    overflow-y:scroll;
    z-index: 0;
}

.navbar a{
    color:rgb(255, 255, 255);
    background-color: #031527d0;
    display:flex;
    align-items: center;
    text-decoration: none;
    padding:10px 20px;
}

.navbar a:hover{
    background-color:#184f87d0;
}

.description {
    position:absolute;
    top:100px;
    left:200px;
    right:30px;
    bottom:20px;
    color:rgb(255, 255, 255);
    padding:10px;
    border-radius: 10px;
}

.description img{
    width:150px;
    height:150px;
    border-radius: 30px;
}

.bigimg:hover {
    width:170px;
    height:170px;
    border-radius: 30px;
}

.description a{
    color:white;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

.description a:hover{
    text-decoration: underline;
}

.context pre{
    text-align: left;
    font-family: "Yusei Magic";
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.content a {
    color:white;
    text-decoration: none;
    padding:5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    border-style: dashed;
}

.content a:hover {
    background-color:#99ccff70;
}

.content a img {
    width:150px;
    height:150px;
    border-radius: 50px;
    align-items: center;
}

.container3 {
    text-align: center;
    border-style: dashed;
    width:60vw;
    margin:10px 20vw;
}

.container3 img {
    width:320px;
    height:180px;
    align-items: center;
    border-radius: 10px;
}

.container3 ul {
    text-align: left;
}

.ques {
    background-color: #92eeee;
    color:black;
    padding: 10px 15px;
}

.ans {
    background-color: #92eeee;
    color:black;
    padding: 10px 15px;    
}