@font-face {
    font-family:'粉圓體';
    src: url('fonts/粉圓體.woff2') format('woff2'),
         url('fonts/粉圓體.woff') format('woff'),
         url('fonts/粉圓體.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:'華康秀風體';
    src: url('fonts/華康秀風體.woff2') format('woff2'),
         url('fonts/華康秀風體.woff') format('woff'),
         url('fonts/華康秀風體.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:'華康芸風體';
    src: url('fonts/華康芸風體.woff2') format('woff2'),
         url('fonts/華康芸風體.woff') format('woff'),
         url('fonts/華康芸風體.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:'Cubic_11';
    src: url('fonts/Cubic_11.woff2') format('woff2'),
         url('fonts/Cubic_11.woff') format('woff'),
         url('fonts/Cubic_11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

html,body {
    background-color:#000000;
    color:white;
    font-size:x-large;
    margin:0;
    font-family: '粉圓體', sans-serif;
    z-index:1;
    scroll-behavior: smooth;
    scroll-padding-top:5vh;
    overflow-x: hidden;
}

header{
    background-color:#6699CCd0;
    position:fixed;
    top:0;
    width:100%;
    height:5vh;
    display:flex;
    z-index: 2;
}

header img {
    width:5vh;
    height:5vh;
    border-radius: 50px;
    display: flex;
    align-self: center;
}

header a {
    color:black;
    display:flex;
    align-items: center;
    text-decoration: none;
    padding:10px 20px;
    white-space: nowrap;
}

header a:hover {
    background-color:#99CCFFd0;
    transition: background-color 0.3s ease;
}

#changecolor {
    color:black;
    cursor: pointer;
    display:flex;
    border-radius: 30px;
    margin-left: auto;
}

#changecolor:hover {
    background-color:#99CCFFd0;
}

@keyframes scrollimg {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.container1 {
    width:100%;
    height:30vh;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    justify-self:center;
    margin:5vh;
    padding-bottom:5vh;
}

.runhorselight {
    display:flex;
    white-space: nowrap;
    animation:scrollimg 18s linear infinite; 
}
/* 等速 無限循環 */

.runhorselight img {
    width:auto;
    height:25vh;
    margin:2.5vh;
    border-radius: 10px;
    border-color: white;
    border-width: 10px;
    border-style: solid;
}

.runhorselight img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

h3 {
    font-family: 'Cubic_11',sans-serif;
    padding:2vh 0;
    display: inline-block;
    justify-content: start;
    margin:5vh auto;
}

h4 {
    display: inline-block;
    font-family: 'Cubic_11',sans-serif;
}

.homebtn {
    font-family: 'Cubic_11',sans-serif;
    display: inline-block;
    margin:0 2.5vw;
    position:relative
}

.homebtn::after {
    content:"";
    position:absolute;
    width:0%;
    left:0;
    bottom:0;
    height:2px;
    background-color:white;
    transition:width 0.3s ease-out;
}

.homebtn:hover {
    transform: scale(1.1);
    transition: background-color 0.3s ease,transform 0.3s ease;
    cursor: pointer;
}

.homebtn:hover::after {
    width:100%;
}

#other{
    display: block;
}

#anni,#compete,#trip {
    display: none;
}

#hometitle {
    text-align: center;
    font-family: '華康秀風體',sans-serif;
    font-weight: thin;
    font-size: 60px;
    color:inherit;
    margin:6vh 0;
}

.card-container{
    display:flex;
    justify-content:center;
    align-items: center;
}

.card a {
    align-items: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.card a {
    color:aliceblue;
    text-decoration: none;
}

.card a:hover {
    color:rgb(173, 225, 245);
    text-decoration: underline;
    transform : scale(1.1);
    transition: transform 0.3s ease;
}

.card p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.card img {
    width:100px;
    height:auto;
    border-radius: 50px;
}

.card img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
    animation: spinig 1.5s infinite;
}

#igs {
    display: flex;
    flex-direction: row;
}

#igs img {
    width: 100px;
    height: 100px;
    margin:10px 25px;
}

#igs p {
    font-size:small;
}

@keyframes spinig {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#igs img:hover {
    animation: spinig 1.5s infinite;
}

.navbar{
    position:fixed;
    left:0;
    top:5vh;
    height: 95vh;
    width:12vw;
    display:flex;
    flex-direction: column;
    overflow-y:scroll;
    z-index: 0;
}

.navbar a{
    color:rgb(255, 252, 252);
    background-color: #031527d0;
    display:flex;
    align-items: center;
    text-decoration: none;
    padding:10px 20px;
}

.navbar a:hover{
    background-color:#184f87d0;
}

#yesno3 {
    transform: scale(1.05);
    transition: transform 0.3s;
    color:#000000;
    background-color: #cef8fb;
    width:fit-content;
    font-family: '華康芸風體',sans-serif;
    display: none;
    border-width: 10px;
    padding:10px;
    margin-top:0;
}

.hiddenword {
    color:#000000;
    cursor: pointer;
    background-color: #3ce2f0;
    width:fit-content;
    padding:10px;
    margin-bottom: 0;
}

.hiddenword:hover {
    background-color: #09afbd;
}

.student {
    position:absolute;
    width:85vw;
    height:95vh;
    display:flex;
    flex-direction: column;
}

#doll {
    position:relative;
    width:85vw;
    height:auto;
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-top:5vh;
}

.dolldesc {
    margin-left: 5vw;
}

.bigimg:hover {
    width:170px;
    height:170px;
    border-radius: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.content a {
    width:20vw;
    height:max-content;
    margin:1.5vw;
    color:white;
    text-decoration: none;
    padding:5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    border-style: dashed;
    justify-content: center;
}

.content a:hover {
    background-color:#99ccff70;
}

.content a img {
    width:15vw;
    height:auto;
    border-radius: 50px;
    align-items: center;
    margin:0 auto;
}


.container3 {
    scroll-snap-align: start;
    /* border-style: dashed; */
    width:70vw;
    margin:10px 20vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap;
}

.sc {
    margin-top: 5vh;
}

.container3 img {
    width:60vw;
    height:auto;
    align-items: center;
    border-radius: 10px;
    margin:10px;
    display: flex;
    flex-wrap: wrap;
}

.container3 ul {
    text-align: left;
}

.container3 h1 {
    text-decoration: underline;
}

#codebtn {
    background-color: #CCFFFF;
    padding:20px;
    font-size:medium;
}

#codebtn:hover {
    background-color:#92eeee;
}

#a4_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto;
    margin:5vh;
}

#a4_1 img{
    width:60vw;
    height:auto;
    margin: 0 2.5vh;
}

#a4_1 img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

#a4_1 h2 {
    text-align: center;
    width: 100%;
    margin:2.5vh auto;
}

#a4_1 h3 {
    background-color: #0099ff82;
    border-radius: 20px;
    width:90%;
    padding:2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2.5vh auto;
}

#a4_1 h3:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}


.footer {
    position:fixed;
    right:5vw;
    bottom:0;
    margin:0;
    background-color: rgb(255, 204, 204);
}

.footer p {
    font-size:medium;
}

.people {
    position:relative;
    display:flex;
    flex-direction: row;
    margin-left: 15vw;
    margin-bottom: 10vh;
    width:85vw;
    height: auto;
}

#doll {
    position:relative;
    width:85vw;
    height:auto;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    margin-left:auto;
}

.text {
    font-family: '華康秀風體',sans-serif;
    width:50vw;
    height:max-content;
    display:inline-block;
    margin-left:5vw;
}

.text a:hover {
    color:#3ce2f0;
    transform:scale(1.1);
    transition: transform 0.3s ease;
}

.img201 {
    width :130px;
    height:130px;
    border-radius: 10px;
    margin-left: 5vw;
}

.igimg {
    border-radius: 20px;
    width:20px;
    height:20px;
    margin-left: 5vw;
}

.igname {
    font-family: '華康芸風體' ,sans-serif;
}

.igname:hover {
    color:#3ce2f0;
}

.imgandig {
    display:inline-block;
}

@media (max-width:1100px) {
    header {
        height:10vh;
    }
    .navbar {
        top:10vh;
        height:90vh;
        width:15vw;
        overflow-x: hidden;
    }
    .student {
        height:90vh;
    }
    #igs img {
        width: 50px;
        height: 50px;
        margin:5px 15px;
    }
    #igs p {
        font-size:x-small;
        margin:1vw;
    }

    header a {
        width:10vw;
    }
    #changecolor {
        width:9vw;
    }
    #hometitle {
        margin:11vh 0;
    }
    #doll {
        margin-top:10vh;
    }
    .content {
        margin-top:10vh;
    }
    #a4_1 {
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center; 
    }
    #a4_1 img{
        width:100%;
        margin:2.5vh 0;
    }
    #a4_1 h3 {
        width:90vw;
    }
}